<div>
  <!-- <div flex="25">
    <img ng-repeat="image in history" ng-src="{{image}}"></img>
  </div> -->
  <md-grid-list
        md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile ng-repeat="image in history" class="gray"
        md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
      <!-- <img ng-repeat="image in history" ng-src="{{image}}"></img> -->
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>
