<div layout-fill>
  <md-grid-list
        layout-fill
        md-cols-xs="3" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="0">
    <md-grid-tile ng-repeat="image in history track by $index" class="gray"
        md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-click="toImage($index)">
      <div ng-style="divHeightStyle" style="overflow:hidden;" layout="row" layout-align="center center">
        <img ng-show="image.width > 1" ng-src="{{image.url}}" ng-style="image.style;" style="overflow:hidden;"></img>
      </div>
      <md-grid-tile-footer>
        <h3>{{image.id}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
<md-button style="position: fixed;" class="md-fab md-mini md-fab-bottom-right" ng-click="refreshHistory()">
  <md-icon class="material-icons">autorenew</md-icon>
</md-button>
