<div>
  <!-- <div flex="25">
    <img ng-repeat="image in history" ng-src="{{image}}"></img>
  </div> -->
  <md-grid-list
        md-cols-xs="3" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2">

    <md-grid-tile ng-repeat="image in history track by $index" class="gray"
        md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
      <div style="height: 33.34vw; overflow:hidden;" layout-fill layout="row" layout-align="center center">
        <img ng-src="{{image}}" style="width: 100%; overflow:hidden;"></img>
      </div>
      <!-- <md-grid-tile-footer> -->
        <!-- <h3>#1: (3r x 2c)</h3> -->
      <!-- </md-grid-tile-footer> -->
    </md-grid-tile>

  </md-grid-list>
</div>
