<div
    long-press
    time-out="600"
    layout-fill
    layout="row"
    layout-align="center center"
    on-click="randomImage()"
    on-long-press=""
    md-swipe-left="nextImage()"
    md-swipe-right="prevImage()"
    style="user-select: none;"
    >
  <img ng-src="{{public.currentImage.url}}"></img>
  <div style="position: absolute; left: 15px; bottom: 10px; color:#333; opacity:0.3; font-size:32px;">
    {{public.currentImage.id}}
  </div>
</div>
<md-button style="position: fixed;" class="md-fab md-mini md-fab-bottom-right" ng-click="favorite()" ng-style="{'background-color': public.isFavorite?'#ddd':'#ddd'}">
    <md-icon class="material-icons" ng-style="{color: public.isFavorite?'#ff4081':'#ff4081'}">{{ public.isFavorite ? 'favorite' : 'favorite_border' }}</md-icon>
</md-button>
