<div
    layout-fill
    layout="row"
    layout-align="center center"
    hm-tap="randomImage()"
    hm-hold=""
    hm-swipe-left="nextImage()"
    hm-swipe-right="prevImage()"
    hm-swipe-up="nextNumImage()"
    hm-swipe-down="prevNumImage()"
    style="user-select: none;"
    >
  <img ng-src="{{public.currentImage.url}}"></img>
  <div style="position: absolute; left: 15px; bottom: 10px; color:#333; opacity:0.3; font-size:32px;">
    {{public.currentImage.id}}
  </div>
</div>
<md-button ng-hide="public.isAdmin" style="position: fixed;" class="md-fab md-mini md-fab-bottom-right" ng-click="favorite()" ng-style="{'background-color': public.isFavorite?'#ddd':'#ddd'}">
    <md-icon class="material-icons" ng-style="{color: public.isFavorite?'#ff4081':'#ff4081'}">{{ public.isFavorite ? 'favorite' : 'favorite_border' }}</md-icon>
</md-button>
<md-fab-speed-dial style="position: fixed;" class="md-fab-bottom-right md-scale" ng-show="public.isAdmin" md-open="isManagerMenuOpen" md-direction="up">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-mini">
      <md-icon class="material-icons">build</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="done" class="md-fab md-raised md-mini" ng-click="verifyImage()">
      <md-icon class="material-icons">done</md-icon>
    </md-button>
    <md-button aria-label="del" class="md-fab md-raised md-mini" ng-click="deleteImage()">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
    <md-button class="md-fab md-mini" ng-click="favorite()" ng-style="{'background-color': public.isFavorite?'#ddd':'#ddd'}">
        <md-icon class="material-icons" ng-style="{color: public.isFavorite?'#ff4081':'#ff4081'}">{{ public.isFavorite ? 'favorite' : 'favorite_border' }}</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
