<html lang="zh-cn">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/libs/angular-material.min.css">
    <link rel="stylesheet" href="/libs/style.css">
    <link rel="shortcut icon" href="/libs/favicon.png">
    <title>jandan-ooxx</title>
    <base href="/">
</head>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=59850460" charset="UTF-8"></script>
<body ng-app="app">
    <script src="/libs/angular.min.js"></script>
    <script src="/libs/ngStorage.min.js"></script>
    <script src="/libs/angular-animate.min.js"></script>
    <script src="/libs/angular-aria.min.js"></script>
    <script src="/libs/angular-messages.min.js"></script>
    <script src="/libs/angular-material.min.js"></script>
    <script src="/libs/angular-ui-router.min.js"></script>

    <script src="/libs/bundle.js"></script>

    <div ng-controller="MainController">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="false" layout="row" layout-align="space-between stretch">
                <md-content>
                    <div layout="column">
                        <md-list>
                            <md-list-item ng-repeat="menu in menus">
                                <a ng-click="menuClick($index)">
                                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                        <div class="inset">
                                            <md-icon class="material-icons">{{menu.icon}}</md-icon>
                                        </div>
                                        <div class="inset">
                                            {{menu.name}}
                                        </div>
                                    </md-item-content>
                                </a>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-sidenav>
            <md-content layout="row" flex ui-view>
            </md-content>
        </section>
        <md-button style="position: fixed;" class="md-fab md-mini md-fab-top-left" ng-click="openMenu()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>

    </div>
</body>

</html>
