<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="OOXX">
    <link rel="apple-touch-icon" href="/libs/favicon-256x256.png">

    <meta name="msapplication-TileImage" content="/libs/favicon-256x256.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <link rel="stylesheet" href="/libs/angular-material.min.css">
    <link rel="stylesheet" href="/libs/style.css">
    <link rel="shortcut icon" href="/libs/favicon.png">
    <link rel="manifest" href="/public/manifest.json">
    <title>OOXX</title>
    <base href="/">
</head>
<body ng-app="app" ng-cloak>
    <script src="/libs/angular.min.js"></script>
    <script src="/libs/ngStorage.min.js"></script>
    <script src="/libs/angular-animate.min.js"></script>
    <script src="/libs/angular-aria.min.js"></script>
    <script src="/libs/angular-messages.min.js"></script>
    <script src="/libs/angular-material.min.js"></script>
    <script src="/libs/angular-ui-router.min.js"></script>
    <script src="/libs/hammer.min.js"></script>
    <script src="/libs/gestures.min.js"></script>
    <script src="/libs/bundle.js"></script>
    <div ng-controller="MainController">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="false" layout="row" layout-align="space-between stretch">
                <md-content layout="column" layout-align="space-between center">
                    <div layout="column">
                        <md-list>
                            <md-list-item ng-repeat="menu in menus">
                                <a ng-click="menuClick($index)">
                                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                        <div class="inset">
                                            <md-icon class="material-icons">{{menu.icon}}</md-icon>
                                        </div>
                                        <div class="inset">
                                            {{menu.name}}
                                        </div>
                                    </md-item-content>
                                </a>
                            </md-list-item>
                        </md-list>
                    </div>
                    <!-- <div layout="column">
                        <md-list>
                            <md-list-item>
                                <md-switch ng-model="autoChange.status" aria-label="switch" ng-change="setAutoChange()">
                                    自动切换
                                </md-switch>
                            </md-list-item>
                        </md-list>
                    </div> -->
                </md-content>
                <div style="position: absolute; right: 5px; bottom: 5px; color:#555; font-size:12px;"><%= version%></div>
            </md-sidenav>
            <div layout-fill layout="row" layout-align="center center" ng-hide="public.isOnline">
                <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
            </div>
            <div layout-fill layout="row" layout-align="center center" ng-if="public.isLoading && public.isOnline">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-content layout="row" flex ui-view>
            </md-content>
        </section>
        <md-button style="position: fixed;" class="md-fab md-mini md-fab-top-left" ng-click="openMenu()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-88663341-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
    function isWeixinBrowser(){
      return /micromessenger/.test(navigator.userAgent.toLowerCase());
    }
    if(!isWeixinBrowser()) {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceworker.js').then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      }
    }
    </script>
</body>
</html>
